<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card w100 mgTop20 mgBtm20">
        <div class="card-body">
            <h5 class="card-title">New Game</h5>
            <form [formGroup]="newGameForm">
              <div class="form-row">
                  <div class="form-group col-12">
                      <label>Drone Color</label>
                      <select id="droneColor" formControlName="droneColor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.droneColor.errors }">
                        <option value="" disabled selected>Choose...</option>
                        <option *ngFor="let color of droneColorList">{{ color }}</option>
                      </select>
                      <div *ngIf="submitted && f.droneColor.errors" class="invalid-feedback">
                          <div *ngIf="f.droneColor.errors.required">Please select a drone color!</div>
                      </div>
                  </div>
                  <div class="form-group col-12">
                      <label>Maze Difficulty</label>
                      <select id="mazeDifficulty" formControlName="mazeDifficulty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mazeDifficulty.errors }">
                        <option value="" disabled selected>Choose...</option>
                        <option *ngFor="let difficulty of mazeDifficultyList">{{ difficulty }}</option>
                      </select>
                      <div *ngIf="submitted && f.mazeDifficulty.errors" class="invalid-feedback">
                          <div *ngIf="f.mazeDifficulty.errors.required">Please select a difficulty level (1 is easy - 5 is difficult)!</div>
                      </div>
                  </div>
                  <div class="form-group col-12">
                        <label>Maze Location</label>
                        <select id="mazeLocation" formControlName="mazeLocation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mazeLocation.errors }">
                          <option value="" disabled selected>Choose...</option>
                          <option *ngFor="let location of mazeLocationList">{{ location }}</option>
                        </select>
                        <div *ngIf="submitted && f.mazeLocation.errors" class="invalid-feedback">
                            <div *ngIf="f.mazeLocation.errors.required">Please select a location!</div>
                        </div>
                    </div>
                  <div class="form-group col-12">
                    <label>This game is...</label>
                    <select id="openTo" formControlName="openTo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.openTo.errors }">
                      <option value="" disabled selected>Choose...</option>
                      <option *ngFor="let open of openToList">{{ open }}</option>
                    </select>
                    <div *ngIf="submitted && f.openTo.errors" class="invalid-feedback">
                        <div *ngIf="f.openTo.errors.required">Please select whether this game is public or private!</div>
                    </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success float-right" (click)="createGame()">Create Game ></button>
              <button class="btn btn-danger float-right mgRight10" routerLink="/">Cancel x</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>