<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Maze Grid -->
      <!-- ROW A -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="a1">
              <p>A1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="a2">
              <p>A2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="a3">
              <p>A3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="a4">
              <p>A4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="a5">
              <p>A5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="a6">
              <p>A6</p>
          </div>
        </div>
      </div>
      <!-- ROW B -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="b1">
              <p>B1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="b2">
              <p>B2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="b3">
              <p>B3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="b4">
              <p>B4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="b5">
              <p>B5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="b6">
              <p>B6</p>
          </div>
        </div>
      </div>
      <!-- ROW C -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="c1">
              <p>C1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="c2">
              <p>C2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="c3">
              <p>C3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="c4">
              <p>C4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="c5">
              <p>C5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="c6">
              <p>C6</p>
          </div>
        </div>
      </div>
      <!-- ROW D -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="d1">
              <p>D1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="d2">
              <p>D2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="d3">
              <p>D3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="d4">
              <p>D4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="d5">
              <p>D5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="d6">
              <p>D6</p>
          </div>
        </div>
      </div>
      <!-- ROW E -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="e1">
              <p>E1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="e2">
              <p>E2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="e3">
              <p>E3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="e4">
              <p>E4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="e5">
              <p>E5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="e6">
              <p>E6</p>
          </div>
        </div>
      </div>
      <!-- ROW F -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="f1">
              <p>F1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="f2">
              <p>F2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="f3">
              <p>F3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="f4">
              <p>F4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="f5">
              <p>F5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="f6">
              <p>F6</p>
          </div>
        </div>
      </div>
      <!-- ROW G -->
      <div class="row mazeRow">
        <div class="col-2 mazeBox">
          <div id="g1">
              <p>G1</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="g2">
              <p>G2</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="g3">
              <p>G3</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="g4">
              <p>G4</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="g5">
              <p>G5</p>
          </div>
        </div>
        <div class="col-2 mazeBox">
          <div id="g6">
              <p>G6</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
