<div class="container">
    <div class="row">
      <div class="col-12">
        <div *ngIf="fb.game && currentUser" class="card w100 mgTop20 mgBtm20">
          <div *ngIf="fb.gameBS | async as gameObj" class="card-body">
              <h5 *ngIf="currentUser.uid == gameObj[0].host" class="card-title" (appAfterIf)="updateHash(gameObj[0].gid)">Awaiting Players</h5>
              <h5 *ngIf="currentUser.uid != gameObj[0].host" class="card-title">Awaiting Host...</h5>
              <div class="row">
                <div class="col-12">
                  <p>Invite players using the game code: </p>
                  <input type="text" class="col-12 col-md-9 mgBtm20 mgRight10" readonly [value]="gameObj[0].gid" />
                  <button class="btn btn-primary col-12 col-md-2 mgBtm20 float-right" ngxClipboard [cbContent]="gameObj[0].gid">Copy</button>
                </div>
              </div>
              <div *ngIf="fb.peer" class="row">
                <div class="col-12">
                  <p>Send message to players: </p>
                  <input type="text" class="col-12 col-md-9 mgBtm20 mgRight10" [(ngModel)]="messageToPlayers" />
                  <button class="btn btn-primary col-12 col-md-2 mgBtm20 float-right" (click)="sendMessageToPlayers(messageToPlayers)">Send</button>
                </div>
              </div>
              <div *ngIf="currentUser.uid == gameObj[0].host" class="row">
                <div class="col-12 col-md-4">
                  <label>Drone Color:</label>
                  <select class="form-control" (change)="changeItem('droneColor', $event, gameObj[0].gid)">
                    <option *ngFor="let color of droneColorList" [selected]="doesItMatch(color, gameObj[0].droneColor)">{{ color }}</option>
                  </select>
                </div>
                <div class="col-12 col-md-4">
                  <label>Difficulty:</label>
                  <select class="form-control" (change)="changeItem('mazeDifficulty', $event, gameObj[0].gid)">
                    <option *ngFor="let difficulty of mazeDifficultyList" [selected]="doesItMatch(difficulty, gameObj[0].mazeDifficulty)">{{ difficulty }}</option>
                  </select>
                </div>
                <div class="col-12 col-md-4">
                  <label>Location:</label>
                  <select class="form-control" (change)="changeItem('mazeLocation', $event, gameObj[0].gid)">
                    <option *ngFor="let location of mazeLocationList" [selected]="doesItMatch(location, gameObj[0].mazeLocation)">{{ location }}</option>
                  </select>
                </div>
              </div>
              <div class="table-responsive mgTop20">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th *ngIf="currentUser.uid == gameObj[0].host" scope="col">Action</th>
                      <th scope="col">Status</th>
                      <th *ngIf="currentUser.uid == gameObj[0].host" scope="col">Select Blade</th>
                      <th *ngIf="currentUser.uid != gameObj[0].host" scope="col">Assigned Blade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of gameObj[0].players; let i = index">
                      <th scope="row">{{ i+1 }}</th>
                      <td>{{ data.firstName }} {{ data.lastName }}</td>
                      <td *ngIf="currentUser.uid == gameObj[0].host">
                        <button *ngIf="gameObj[0].host == data.uid" class="btn btn-primary width100" disabled>Host</button>
                        <button *ngIf="!data.active && gameObj[0].host != data.uid" class="btn btn-success width100Mob mgBtm10Mob mgRight10Des" (click)="acceptPlayer(gameObj[0], data.uid)">Accept</button>
                        <button *ngIf="data.active && gameObj[0].host != data.uid" class="btn btn-danger width100Mob" (click)="rejectPlayer(gameObj[0], data.uid)">Reject</button>
                      </td>
                      <td *ngIf="data.active">
                        <button class="btn btn-success width100" disabled>Accepted</button>
                      </td>
                      <td *ngIf="!data.active">
                        <button class="btn btn-danger width100" disabled>Waiting</button>
                      </td>
                      <td *ngIf="gameObj[0].host == currentUser.uid">
                        <select class="form-control" (change)="changeItem('bladeID', $event, gameObj[0].gid, data)">
                          <option *ngFor="let id of bladeIdList" [selected]="doesItMatch(id, data.bladeID)">{{ id }}</option>
                        </select>
                      </td>
                      <td *ngIf="gameObj[0].host != currentUser.uid">Blade: {{ gameObj[0].players[i].bladeID }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="currentUser.uid == gameObj[0].host && gameObj[0].players.length == 1 && !atLeastFour" class="mgBtm20Mob width100Mob centerAlign"><i>Please wait for other players to join...</i></p>
              <p *ngIf="currentUser.uid == gameObj[0].host && gameObj[0].players.length > 1 && !atLeastFour" class="mgBtm20Mob width100Mob centerAlign"><i>Please accept at least four players to start...</i></p>
              <button *ngIf="currentUser.uid == gameObj[0].host && gameObj[0].players.length > 1 && atLeastFour" type="submit" class="btn btn-success float-right mgBtm20Mob width100Mob" (click)="startGame(gameObj[0])">Start Game ></button>
              <p *ngIf="currentUser.uid != gameObj[0].host && !gameObj[0].active" class="mgBtm20Mob width100Mob centerAlign"><i>Please wait for the host to start. Your game will begin soon...</i></p>
              <button *ngIf="currentUser.uid != gameObj[0].host && gameObj[0].active" type="submit" class="btn btn-success float-right mgBtm20Mob width100Mob" (appAfterIf)="startGameForGuest(gameObj[0])">Start Game ></button>
              <button class="btn btn-danger float-right mgRight10Des width100Mob" (click)="cancelGame(gameObj[0])">Cancel x</button>
          </div>
        </div>
      </div>
    </div>
  </div>  